<% if @question_nature == 'mchoice' %>
  <div class="wrapper-question-mchoice">
    <div class="progress-track">
      <h2 class="question-number"> Question <%= @question.number %> </h2>
      <div class="progress-bar">
        <div class="progress-bar-fill"></div>
        <div class="progress-bar-text">
          <h2 class=progress-percentage><%= (((@question.number.to_f - 1)/ Question.all.length) * 100).round(1) %>% </h2>
        </div>
      </div>
    </div>

    <div class="container-question-mchoice">
      <h1 class="question-mchoice-directions">
        What is your point-of-view about <span class="question-mchoice-subject"> <%= @question.subject %>? </span>
      </h1>
      <h2 class="question-mchoice-subdirections">
        Select the statement with which you would agree the most:
      </h2>

      <% @options_scramble.each do |option| %>

        <h2 class="mchoice-option">
          <i class="far fa-square check-icon"></i> <span class="mchoice-option-text">"<%= option %>"</span>
        </h2>

      <% end %>

      <div class="submit-button-container-mchoice">
        <form action="/answer" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :question_number, @question.number %>
          <%= hidden_field_tag :options_order, @options_order %>
          <input type="text" name="answer_selected" id="opt-select" style="display: none">
          <input type="submit" id="final-submit-btn" class="btn btn-primary proceed-btn-mchoice" value="Proceed">
        </form>

        <div class="btn fake-proceed-button">Select an answer</div>
      </div>

    </div>
  </div>

<% elsif @question_nature == 'ranking' %>
  <div class="wrapper-question-ranking">
    <div class="progress-track">
      <h2 class="question-number"> Question <%= @question.number %> </h2>
      <div class="progress-bar">
        <div class="progress-bar-fill"></div>
        <div class="progress-bar-text">
          <h2 class=progress-percentage><%= (((@question.number.to_f - 1)/ Question.all.length) * 100).round(1) %>% </h2>
        </div>
      </div>
    </div>
    <div class="container-question-ranking">

      <h1 class="question-ranking-directions">
        <%= @question.subject %>
      </h1>
      <h2 class="question-ranking-subdirections">
        Drag and drop the following items so that higher up in the list, the more that item represents your point-of-view
      </h2>

      <div id="simpleList" class="list-group">
        <% @options_scramble.each do |option| %>
          <div class="list-group-item ranking-option"><%= option %></div>
        <% end %>
      </div>

      <div class="submit-button-container-ranking">
        <form action="/answer" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :question_number, @question.number %>
          <%= hidden_field_tag :options_order, @options_order %>
          <input type="text" name="ranking_order" id="ranking-select" style="display: none">
          <input type="submit" id="final-submit-btn" class="btn btn-primary proceed-btn" value="Proceed">
        </form>
      </div>

    </div>
  </div>

<% elsif @question_nature == 'statement' %>
  <div class="wrapper-question-statement">
    <div class="progress-track">
      <h2 class="question-number"> Questions <%= @question.number %> to <%= @question.number + 3 %> </h2>
      <div class="progress-bar">
        <div class="progress-bar-fill"></div>
        <div class="progress-bar-text">
          <h2 class=progress-percentage><%= (((@question.number.to_f - 1)/ Question.all.length) * 100).round(1) %>% </h2>
        </div>
      </div>
    </div>
    <div class="container-question-statement">

      <h1 class="question-statement-directions">
        How much do you agree with the following statements?
      </h1>
      <h2 class="question-statement-subdirections">
        Drag the slider to indicate how much you agree or disagree with each of the statements presented
      </h2>

      <% @questions.each do |question| %>
        <div class="statement-each-question">
          <h1 class="statement-statement">
            <%= question.subject %>
          </h1>
          <div class="statement-slider-div">
            <input type="range" min="0" max="4" value="2" step="1" class="statement-slider" id="test">
            <h2 class="statement-slider-placeholder slider-placeholder-1">Strongly disagree</h2>
            <h2 class="statement-slider-placeholder slider-placeholder-2">Disagree</h2>
            <h2 class="statement-slider-placeholder slider-placeholder-3">Neutral</h2>
            <h2 class="statement-slider-placeholder slider-placeholder-4">Agree</h2>
            <h2 class="statement-slider-placeholder slider-placeholder-5">Strongly agree</h2>
            <i class="fas fa-caret-up slider-caret-1 slider-caret"></i>
            <i class="fas fa-caret-up slider-caret-2 slider-caret"></i>
            <i class="fas fa-caret-up slider-caret-3 slider-caret"></i>
            <i class="fas fa-caret-up slider-caret-4 slider-caret"></i>
            <i class="fas fa-caret-up slider-caret-5 slider-caret"></i>
          </div>
        </div>
      <% end %>

      <div class="submit-button-container-ranking">
        <form action="/answer" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :question_number, @question.number %>
          <input type="text" name="answer_one" class="question-value-input" style="display: none;">
          <input type="text" name="answer_two" class="question-value-input" style="display: none;">
          <input type="text" name="answer_three" class="question-value-input" style="display: none;">
          <input type="text" name="answer_four" class="question-value-input" style="display: none;">
          <input type="submit" id="final-submit-btn" class="btn btn-primary proceed-btn" value="Proceed">
        </form>
      </div>

    </div>
  </div>

<% end %>
